# MAC files
.DS_Store
# IDE files
.idea
.vscode
# Python project manager files
Pipfile.lock
**/__pycache__/
**/dist/
*.pclprof
**/_build/
**/build/
poetry.lock
# XBridge files
input
/xbridge.egg-info/
input/instances/
/res/
# XBridge test files (too big)
/tests/test_files/instances_to_parse_batch/**
/tests/test_files/instances_to_parse_no_eba/**
/tests/test_files/instances_to_parse_standard/**
/tests/test_files/performance_instances/**
/tests/test_files/performance_taxonomies/**
/tests/test_files/taxonomies_to_load/**
